.transaction-input-container {
  position: relative;
}

.transaction-input-container .transaction-input {
  width: 98%;
  height: 4rem;
  font-size: 1.5rem;
  padding: 2px 10px;
  text-align: center;
  background-color: #337298;
  outline: none;
  border: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 2rem 2rem;
  color: #fff;
  font-weight: 200;
}

.transaction-input-container .transaction-input-submit {
  border: none;
  right: 12px;
  bottom: 5px;
  position: absolute;
  background-color: #079ead;
  color: white;
  cursor: pointer;
  outline: none;
  height: 3.7rem;
  border-radius: 2rem;
  font-size: 1.5rem;
  padding: 2px 20px;
  box-shadow: inset 0 0px 7px 0px #333;
  transition: all 500ms;
}

.transaction-input-container .transaction-input-submit:hover {
  box-shadow: inset 0 0px 5px 1px #222;
  font-size: 1.48rem;
}

.transaction-input-container .transaction-input::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #dedede;
  font-weight: 200;
}

.transaction-input-container .transaction-input::-moz-placeholder {
  /* Firefox 19+ */
  color: #dedede;
  font-weight: 200;
}

.transaction-input-container .transaction-input:-ms-input-placeholder {
  /* IE 10+ */
  color: #dedede;
  font-weight: 200;
}

.transaction-input-container .transaction-input:-moz-placeholder {
  /* Firefox 18- */
  color: #dedede;
  font-weight: 200;
}
