.transaction-list-container {
  width: 95%;
  margin: 3rem auto;
}

.transaction-list-container .transaction-list-empty-header {
  text-align: center;
  padding: 5rem;
  color: #666;
  font-weight: 200;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
}

.transaction-list-container .transaction-list-item-card {
  padding: 2px 10px;
  color: #666;
  font-weight: 200;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
  margin-bottom: 2rem;
}

.transaction-list-container .transaction-list-item-card:not(:last-child) {
  border-bottom: 1px solid #efefef;
}

.transaction-list-container .transaction-list-item-card .transaction-list-item-header {
  position: relative;
}

.transaction-list-container .transaction-list-item-card .transaction-list-item-header .transaction-list-item-receipt-status {
  position: absolute;
  right: 0;
}

.transaction-list-container .transaction-list-item-card .transaction-list-item-header .transaction-list-item-receipt-status.pending {
  color: orange;
  animation: blink 1s linear infinite;
}

.transaction-list-container .transaction-list-item-card .transaction-list-item-header .transaction-list-item-receipt-status.success {
  color: lightgreen;
}

.transaction-list-container .transaction-list-item-card .transaction-list-item-header .transaction-list-item-receipt-status.failed {
  color: red;
}

@keyframes blink {
  0% {
    opacity: .2;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: .2;
  }
}
